{% extends 'base.html' %}
{% load static %}

{% block main_title %}
Добавить абонента
{% endblock %}

{% block content %}
<div class="btn-group btn-group-justified">

    <a class="btn btn-primary" href="{% url 'addressbookapp_main' %}" role="button"> На основну сторінку</a>

</div>

<form action="{% url 'add-contact' %}" method='post'>
    {% csrf_token %}

    <table class="card-body p-2">

        <table class="row d-flex justify-content-center align-items-center">
            <tr>

                <td>
                    <label class="form-label" for="name">Полное имя</label>
                </td>
                <td>
                    <input id="name" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="birthday">День рождения</label>
                </td>

                <td>
                    <input type='date' id="birthday" name="birthday">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>

                <td>
                    <input id="email" name="email">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="address">Адрес</label>
                </td>
                <td>
                    <input id="address" name="address">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="description">Описание</label>
                </td>
                <td>
                    <input id="description" name="description">
                </td>
            </tr>


            <tr>

                <td>
                    <label for="phone">Телефоны</label>
                </td>
                <td>
                    <input id="phone" name="phone">
                </td>
                <td>
                    <input id="phone" name="phone">
                </td>
                <td>
                    <input id="phone" name="phone">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" id='submit' class="btn btn-success" value="Submit">
                </td>
            </tr>
            </datalist>
        </table>
    </table>



    </div>
    </table>

</form>


{% endblock %}