{% extends 'helperAssistant/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
.blok {
  max-height: 300px;
  background: rgb(211, 211, 211);
  color: rgb(0, 0, 0);
  overflow-y: auto;
  margin: 20px 0;
}
</style>

{% block main_title %}
<br>
Подробнее об  {{contact.name}}

{% endblock %}
<td>

</td>

<a href='{% url "edit-contact" contact.pk %}'>
<br>

  <button type="button" class="btn btn-outline-primary">Изменить данные контакта </button>
</a>

<table class="table">
  <br>

  <tr>
    <td style = "background-color: black; color: white;  ">Повне ім'я</td>
    <td style = "background-color: blue; color: white;  ">{{contact.name}}</td>
  </tr>
  <tr>
    <td style = "background-color: black; color: white;  "> День народження </td>
    <td style = "background-color: blue; color: white;  ">{{contact.birthday}}</td>
  </tr>
  <tr>
    <td style = "background-color: black; color: white;  "> Email </td>

    <td style = "background-color: blue; color: white;  "> {{contact.emails.first.email}}; </td>
  </tr>
  <tr>
    <td style = "background-color: black; color: white;  "> Телефони </td>
    <td style = "background-color: blue; color: white;  ">
    {% for phone in contact.phones.all %}
      <span> {{phone.phone}}; </span>
    {%endfor%}
    </td>
  </tr>

  <tr>
    <td style = "background-color: black; color: white;  "> Address </td>
    <td style = "background-color: blue; color: white;  ">{{contact.address}}</td>
  </tr>

  <tr>
    <td style = "background-color: black; color: white;  "> Заметки </td>
    <td style = "background-color: blue; color: white;  ">{{contact.description}}</td>
  </tr>
</table>


  <form action="{% url 'delete-contact' contact.pk %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger">Удалить контакт</button>
  </form>

{% endblock %}