{% extends "newsapp/base.html" %}
{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column col-2 flex-shrink-2 p-3" style="width: 180px; height:90vh;">
        <ul class="nav nav-pills flex-column mb-auto">
            {% for k, v in news_dict.items %}
            <li class="nav-item">
                <a href="{{ v }}" class="nav-link" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    {{ k }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <br>
        <br>
    </div>
</div>




{% endblock %}