{% extends "helperAssistant/base.html" %}
{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column col-2 flex-shrink-2 p-3" style="width: 180px; height:90vh;">
        <ul class="nav nav-pills flex-column mb-auto">
            {% for k, v in category_dict.items %}
            <li class="nav-item">
                <a href="{% url v %}" class="nav-link" aria-current="page">
                    {{ k }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <br>
    </div>
    <div class="d-flex flex-column col-10 flex-shrink-10">
        <h1>Прогноз погоди в Україні</h1>
        <div class="container">
            <!--<form>
                <select name="cities">
                    <option selected>--Оберіть місто--</option>
                    <option>Київ</option>
                    <option>Харьків</option>
                    <option>Одеса</option>
                </select>
                <input type="submit" value="click">
            </form>-->
            <form class="form-inline" method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <!--<span class="input-group-addon">Please select</span>-->
                        <select name="comp_select" class="selectpicker form-control">
                            <option selected>--Оберіть місто--</option>
                            <option value="Kyiv">Kyiv</option>
                            <option value="Odessa">Odessa</option>
                           <option value="Lviv">Lviv</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Go</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}




